@model ProyectoGruas.Models.Bitacora

@{
    ViewBag.Title = "Crear";
}
<br /><br />
<h2>Crear bitacora</h2>
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number]::-moz-inner-spin-button,
    input[type=number]::-moz-outer-spin-button {
        -moz-appearance: none;
        margin: 0;
    }
    body {
        background-color: #e8e9ea;
    } 
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            @Html.LabelFor(model => model.Compañia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!----@Html.EditorFor(model => model.Compañia, new { htmlAttributes = new { @class = "form-control" } })-->
                @Html.DropDownList("Compañia",new List<SelectListItem> { new SelectListItem { Text="Atlas", Value="Atlas"},new SelectListItem { Text="ABA", Value="ABA"},
               new SelectListItem { Text="Qualitas", Value="Qualitas"},new SelectListItem { Text="General Seguros", Value="General Seguros"}},"Selecione Compañia",new { @class = "btn btn-primary dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.Compañia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Año, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Año, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Año, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Placas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Placas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Placas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Serie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Serie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Serie, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--Creacion de validacion de de Contacto-->
        <div class="col-md-10">
            @Html.Label("Contacto realizado: ")
            @Html.Label("SI")
            @Html.CheckBox("Si", false, new { @id = "ContactoSi" })
            @Html.Label("NO")
            @Html.CheckBox("No", true, new { @id = "ContactoNo" })
        </div>
        <br />
        <br />
        <div class="form-group" , id="TextContacto9" style="display:none">
            @Html.LabelFor(model => model.FechaContacto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaContacto, new { htmlAttributes = new { @class = "form-control", @id = "Opcion" } })
                @Html.ValidationMessageFor(model => model.FechaContacto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" , id="TextContacto8" style="display:none">
            @Html.LabelFor(model => model.Testigo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Testigo, new { htmlAttributes = new { @class = "form-control", @id = "Opcion" } })
                @Html.ValidationMessageFor(model => model.Testigo, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-success" />
        </div>
    </div>
}

<div>
     @Html.ActionLink("Regresar", "Index","Index",new { @class = "btn btn-info" } )
</div>


<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $("#ContactoSi").click(function () {
            $("#TextContacto9").show();
            $("#TextContacto8").show();
            $("#ContactoNo").prop('checked', false);
            $('#Opcion').rules('add', { required: true });
        });
    });

    $(document).ready(function () {
        $("#ContactoNo").click(function () {
            $("#TextContacto8").hide();
            $("#TextContacto9").hide();
            $("#ContactoSi").prop('checked', false);
            $('#Opcion').rules('remove', 'required');
        });
    });


</script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/hot-sneaks/jquery-ui.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js" rel="stylesheet" />
@section Scripts {

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#Opcion").datetimepicker();
        });
    </script>
}